@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Russo+One&display=swap');

.app {
    display: flex;
    background: #09131c;
    flex-direction: column;
    min-height: 100vh;
    background: url('./components/images/e6772c88e4987be466f5b0e67b68d372.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100% !important;
}

.main {
    flex: 1 0 auto;
    padding: 2rem 1rem;
    max-width: 100rem;
    align-self: center;
    background: linear-gradient(to left, #09131c00, #09131c85 25%, #09131c85 75%, #09131c00 100%);
    text-shadow: 2px 2px #09131c;
    height: 100%;
    overflow: auto;
    height: 100% !important;
}

.burger {
    height: 100% !important;
}

.footer {
    flex-shrink: 0;
    border-top: 1px solid #bed3e400;
}